{% extends "base.html" %}
{% block content %}
<h1>Elegir Contraseña</h1>
<form method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario:</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Nueva contraseña:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Contraseña</button>
</form>
{% endblock %}